{%extends 'base.html'%}
{% block title %}
This is about title
{% endblock title %}
{% block body%}


<div class="container-fluid my-4 px-0">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <center><img src="/static/pic2.jpeg"  width=800 height=350 class="d-block w-20"  alt="..."><br>
          Location</center>
      </div>
    <div class="carousel-item">
      <center><img src="/static/sh1.jpeg" width=250 height=200 class="d-block w-20" alt="..."><br>
      proprietor<br><div class="carousel-caption d-none d-md-block">
        <h5>Welcome to the World of Learning...</h5>
      </div></center>
    </div>
    <div class="carousel-item">
      <center><img src="/static/sh4.jpeg" width=250 height=200 class="d-block w-20" alt="..."><br>
      Manager</center>
    </div>
  </div>
</div>
</div>
<center><h3>This organisation is started <br><br>in the world Heritage city of Lucknow
    <br><br> With the blessings and love of our valuable customers it has been growing day by day.
     Now we are opening our many sales points in the main locality of this city.Perhaps we are the fast growing organisation
    where customers can get there order with full satisfactions and safety <br><br>
    Thanks
    Regards.
    Daily Needs Stores Family.
</center>





<!-- Form Bootstrap CSS -->


{%endblock body%}

