{%extends 'base.html'%}
{% block title %}
This is about title
{% endblock title %}
{% block body%}

<form action="" method="post">
    {% csrf_token %}

<div class="jumbotron bg-info">
    <center>       <h5>   Please give details for the cart you want to apply:</h5><br>



        Select Your Category:
        <select name="category">
            <option value= >Select..</option>
            <option value=1>Vegetable</option>
            <option value=2>General</option>
        </select><br><br>
        <input type="submit" value="Show" ><br>

        </center>
    </div>

</form>

{%endblock body%}