{%extends 'base.html'%}
{% block title %}
This is about title
{% endblock title %}
{% block body%}

<form action="" method="post">
    {% csrf_token %}

<div class="jumbotron bg-info">
    <center>       <h5>   Please give details for the cart you want to apply:</h5><br>

        <!--<select name="locality">
            <option value=" ">Select..</option>
            <option value=1>Jankipuram</option>
            <option value=2>Indira Nagar</option>
            <option value=3>Aliganj</option>
            <option value=4>Maha Nagar</option>
            <option value=5>Vikas Nagar</option>
            <option value=6>Gomti Nagar</option>
        </select><br><br>-->

        Select Your Category:
        <select name="category">
            <option value= >Select..</option>
            <!--<option value=1>Cloths-Men</option>
            <option value=2>Cloths-Women</option>
            <option value=3>Shoes</option>-->
            <option value=4>Vegetable</option>
            <!--<option value=5>Mobile</option>-->
            <option value=6>General</option>
        </select><br><br>
        <input type="submit" value="Show" ><br>

        </center>
    </div>

</form>

{%endblock body%}