{%extends 'base.html'%}
{% block title %}
This is about title
{% endblock title %}
{% block body%}

<center><b>RETURN & REFUNDS</b></center>
<p align="justify">Customer can return at the time of delivery or at the store later. For payments made online, refund will be made to your Daily Needs Stores account. For COD, you pay only for what has been delivered. Refund of items after delivery will always be in Daily Needs Stores account.
You Agree and Confirm that in the event that a non-delivery occurs on account of a mistake by you (i.e. wrong name or address or any other wrong information) any extra cost incurred by Daily Needs Stores for redelivery shall be claimed from you.
That you will use the services provided by the website for lawful purposes only and comply with all applicable laws and regulations while using and transacting on the website
You will provide authentic and true information in all instances where such information is requested of you. Daily Needs Stores reserves the right to confirm and validate the information and other details provided by you at any point of time. If upon confirmation your details are found not to be true (wholly or partly), it has the right in its sole discretion to reject the registration and debar you from using the Services and/ or other affiliated website without prior intimation whatsoever.
That you are accessing the services available on this website and transacting at your sole risk and are using your best and prudent judgment before entering into any transaction through this website.
That the address at which delivery of the product ordered by you is to be made will be correct and proper in all respects.
That before placing an order you will check the product description carefully. By placing an order for a product you agree to be bound by the conditions of sale included in the item's description.
  <p>  You may not use the website for any of the following purposes:<br>
•	Disseminating any unlawful, harassing, libellous, abusive, threatening, harmful, vulgar, obscene, or otherwise objectionable material.<br>
•	Transmitting material that encourages conduct that constitutes a criminal offence or results in civil liability or otherwise breaches any relevant laws, regulations or code of practice.<br>
•	Gaining unauthorized access to other computer systems.<br>
•	Interfering with any other person's use or enjoyment of the website.<br>
•	Breaching any website applicable laws.•	Interfering or disrupting networks or web websites connected to the website.<br>
•	Making, transmitting or storing electronic copies of materials protected by copyright without the permission of the owner.</p>

{%endblock body%}