{%extends 'base.html'%}
{% block title %}
This is about title
{% endblock title %}
{% block body%}

<center><b>Terms & Conditions</b></center>

<center><b>AGREEMENT & CONFIRMATION</b></center>
<p align="justify">That in the event that a non-delivery occurs on account of a mistake by you (i.e. wrong name or address or any other wrong information) any extra cost incurred by Daily Needs Stores for redelivery shall be claimed from you.
You will use the services provided by the Site for lawful purposes only and comply with all applicable laws and regulations while using and transacting on the Site.
You will provide authentic and true information in all instances where such information is requested of you. Daily Needs Stores reserves the right to confirm and validate the information and other details provided by you at any point of time. If upon confirmation your details are found not to be true (wholly or partly), it has the right in its sole discretion to reject the registration and debar you from using the Services and / or other affiliated websites without prior intimation whatsoever.
You are accessing the services available on this Site and transacting at your sole risk and are using your best and prudent judgment before entering into any transaction through this Site.
<p>    That the address at which delivery of the product ordered by you is to be made will be correct and proper in all respects.<br>
That before placing an order you will check the product description carefully. By placing an order for a product you agree to be bound by the conditions of sale included in the item's description.</p>



<center><b>PAYMENT POLICIES & OPTIONS</b></center>
<p align="justify">After you have made your selection and added products to your shopping cart, you will need to proceed to the checkout section. In this section you will be asked for address and other contact information as well as payment related information. Once the payment transaction has been successfully completed, your order will be processed on receipt of the funds from the bank or Credit Card Company. It is at this stage that the sale is said to be complete. Thereafter your products will be shipped based on product availability and completion of logistics operations related to the same.
We maintain physical, electronic and procedural safeguards in connection with the collection, storage and disclosure of personally identifiable customer information. As per our security procedures, we may occasionally request proof of identity before we disclose personal information to you
    Note: In case customer renew their card on or before the card expiry date last year balance amount will be added to the new card and same will be lapsed before expiry date, customer cannot carry forward last year balance post expiry date. The membership enrollment fees of Rs 999 is non refundable.</p>



{%endblock body%}